body {
    color: #c3c31b;
    background: linear-gradient(95deg, #aaa, #777);
    margin: 0; /* Added to remove body margin */
    background-image: url('https://www.somosh.com.br/wp-content/uploads/2020/02/Parcelas-atrasadas_-dicas-de-como-resolver-este-problema-768x432.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }

  .clock img {
    width: 135px;
    height: 135px;
    margin-right: 30px;
    opacity: .5;
    filter: sepia(1);
  }
  
  .clock {
    width: 100%;
    height: 200px;
    margin-top: 15rem;
    display: flex; /* Changed flex shorthand to display */
    flex-wrap: nowrap; /* Added flex-wrap to wrap the elements when window size is reduced */
    justify-content: center;
    align-items: center;
    padding: 2.35px 7px;
    margin-right: 50px;
  }
  
  .clock-num {
    font-size: 70px;
    background: rgba(16, 85, 102, 0.5);
    border: 2px solid #c3c31b;
    border-radius: 20%;
    margin-right: 50px;
    padding: 10px 25px;
  }
  
  .clock-last {
    margin: 0;
  }
  

  @media screen and (max-width: 1000px){

    .clock img {
      width: 105px;
      height: 105px;
      margin-right: 15px;
    }

    .clock {
      margin-top: 200px;
      margin-right: 30px;
    }

    .clock-num {
      font-size: 60px;
      margin-right: 30px;
      padding: 10px 20px;
    }
  }

  @media screen and (max-width: 750px){

    .clock img {
      width: 105px;
      height: 105px;
      margin-right: 15px;
    }

    .clock {
      margin-top: 150px;
      margin-right: 200px;
    }

    .clock-num {
      font-size: 45px;
      margin-right: 20px;
      padding: 10px 15px;
    }
  }

  @media screen and (max-width: 550px){

    .clock img {
      width: 105px;
      height: 105px;
      margin-right: 5px;
    }

    .clock {
      margin-top: 150px;
      margin-right: 200px;
    }

    .clock-num {
      font-size: 35px;
      margin-right: 5px;
      padding: 10px 10px;
    }
  }